.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
	text-decoration: underline;
}


.carousel-inner > .carousel-item > img {
  width:640px;
  height:620px;
}
.carousel-indicators li {
width: 10px;
height: 10px;
border-radius: 100%;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	text-decoration: underline;
}

h12 {
  font-size: 32px;
	color:floralwhite;
}
.carousel-caption {
color:#fff;
text-align:center;
top:60%;
left:50%;
bottom:auto;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}
.navbar:not(.top-nav-collapse) {
background: transparent !important;
}
.top-nav-collapse {
background-color: #000000  !important;
}
@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
background: #F3EAD0  !important;
}
}




.top-nav-collapse, .page-footer {
    background-color: #f3ead0  !important;
}